* {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 24pt;
  text-align: center;
}

.main {
  justify-content: center;
  display: grid;
}

table {
  border-collapse: seperate;
  border-spacing: 0pt;
}

th.corner {
  border: 1px dashed #aaa;
}
th.top {
  border-right: 1px dashed #aaa;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}
th.left {
  border-right: 1px dashed #aaa;
  border-left: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}
th.middle {
  border-right: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}

td {
  text-align: center;
  border-right: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;

  padding-left: 8pt;
  padding-right: 8pt;
}
th {
  padding-left: 8pt;
  padding-right: 8pt;
}

footer {
  font-size: 10pt;
  margin-top: 20pt;
}
